@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #E7E7E7;
    padding-top: 100px;
}

header {
    align-items: center;
    margin-bottom: 40px;
}

header h1 {
    font-size: 40px;
    font-weight: bold;
}

.container {
    max-width: 640px;
    width: 100%;
    margin: 0 auto;
}

form {
    justify-content: space-between;
    margin-bottom: 56px;
}


form input {
    font-size: 24px;
    background-color: #fff;
    border: none;
    border-bottom: 2px solid #000;
    padding: 8px;
}

form button {
    background-color: green;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    padding: 8px;
}

ul li {
    font-size: 24px;
    padding: 8px;
    background-color: #fff;
    list-style-type: none;
    font-weight: bold;
    justify-content: center;
    display: inline-block;
    border-bottom: 3px solid #00000049;
    border-right: 3px solid #00000049;;
    margin-bottom: 4px;
}

#ul li:hover {
    text-decoration: line-through;
    cursor: pointer;
}

.feito {
    text-decoration: line-through;
}

